* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boxColor: #0ff7;
    --perspectiveValue: 10em;
    --rotateSpeed: 30s;
}

html,
body {
    overflow: hidden;
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    
    perspective: var(--perspectiveValue);
    -moz-perspective: var(--perspectiveValue);

    perspective-origin: 50% calc(50% - 2em);
    -moz-perspective-origin: 50% calc(50% - 2em);
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
    -moz-animation: sceneRotate var(--rotateSpeed) infinite linear;

    @keyframes sceneRotate {
        to { transform: rotateY(360deg);}
    }
    
    @-moz-keyframes sceneRotate {
        to { -moz-transform: rotateY(360deg);}
    }
}

.box div {
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.box {
    perspective: var(--perspectiveValue);
    -moz-perspective: var(--perspectiveValue);
    
    perspective-origin: 50% calc(50% - 2em);
    -moz-perspective-origin: 50% calc(50% - 2em);

    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    height: 3em;
    width: 2em;
    background: transparent;
    position: absolute;
    top: -1.1em;
    left: -1em;

    .left,
    .right,
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--boxColor);
        box-shadow: 0 0 0.5em #000a inset;
    }

    .front {
        transform: translateZ(1em);
        -moz-transform: translateZ(1em);
    }

    .right {
        transform: rotateY(90deg) translateZ(1em);
        -moz-transform: rotateY(90deg) translateZ(1em);
    }

    .back {
        transform: rotateY(180deg) translateZ(1em);
        -moz-transform: rotateY(180deg) translateZ(1em);
    }

    .left {
        transform: rotateY(270deg) translateZ(1em);
        -moz-transform: rotateY(270deg) translateZ(1em);
    }

    .top {
        position: absolute;
        width: 2em;
        height: 2em;
        background: #fff;
        box-shadow: 0 0 0.5em #000a inset;
        transform: translateY(-50%) rotateX(90deg);
        -moz-transform: translateY(-50%) rotateX(90deg);
    }

    .bottom {
        position: absolute;
        width: 2em;
        height: 2em;
        background: #0007;
        transform: translateY(100%) rotateX(90deg);
        -moz-transform: translateY(50%) rotateX(90deg);
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.096) inset;
    }
}

.floor {
    position: absolute;
    top: -3em;
    transform: translate(-50%, 50%) rotateX(90deg) scale(2.0);
    transform-origin: bottom center;
    width: 20em;
    height: 5em;
    background-image:
        radial-gradient(#0000, #000 75%),
        repeating-conic-gradient(from 45deg, #111 0 90deg, #222 90deg 180deg);
    background-size: 100%, 1em 1em;
}

