:root {
    --blur: 0px;
}

.TV-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.TV {
    width: 180px;
    height: 320px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    transition: all .5s ease-in-out;
}

.clicked {
    transform: translateY(50px);
}

.left {
    animation: ripple 3s infinite;
}

.center {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px var(--blur), rgba(240, 46, 170, 0.3) 0px  10px, rgba(240, 46, 170, 0.2) 0px 15px , rgba(240, 46, 170, 0.1) 0px 20px , rgba(240, 46, 170, 0.05) 0px 25px ;
}

.clicked.center {
    box-shadow: rgba(240, 46, 170, 0.4) 0px -5px, rgba(240, 46, 170, 0.3) 0px -10px, rgba(240, 46, 170, 0.2) 0px -15px, rgba(240, 46, 170, 0.1) 0px -20px, rgba(240, 46, 170, 0.05) 0px -25px;
}


.right {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

@keyframes ripple {
    0% {
        box-shadow: rgba(0, 217, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    25% {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(0, 217, 255, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    50% {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(0, 217, 255, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    100% {
        box-shadow: rgba(0, 217, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
}

