.lines {
  position: fixed;
  top: -30%;
  left: 0;
  width: 100%;
  height: 200%;
  transform: rotate(-90deg);
  z-index: 0;
}

.line {
  --line-length: 6em;
  --line-height: 2px;
  --fall-duration: 9s;
  --fade-duration: var(--fall-duration);
  z-index: 0;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--line-length);
  height: var(--line-height);
  color: #e60000;
  background: linear-gradient(45deg, #e60000, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px #e60000);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, fade var(--fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, fade var(--fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .line {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.line:nth-child(1) {
  --line-length: 11.21em;
  --top-offset: 176.32vh;
  --fall-duration: 7.73s;
  --fall-delay: 9.928s;
}
.line:nth-child(2) {
  --line-length: 12.5em;
  --top-offset: 45.66vh;
  --fall-duration: 7.24s;
  --fall-delay: 5.833s;
}
.line:nth-child(3) {
  --line-length: 13.69em;
  --top-offset: 143.78vh;
  --fall-duration: 6.662s;
  --fall-delay: 1.147s;
}
.line:nth-child(4) {
  --line-length: 13.69em;
  --top-offset: 6.8vh;
  --fall-duration: 9.302s;
  --fall-delay: 7.811s;
}
.line:nth-child(5) {
  --line-length: 11.53em;
  --top-offset: 127.33vh;
  --fall-duration: 11.012s;
  --fall-delay: 0.149s;
}
.line:nth-child(6) {
  --line-length: 10.28em;
  --top-offset: 10.46vh;
  --fall-duration: 6.304s;
  --fall-delay: 8.501s;
}
.line:nth-child(7) {
  --line-length: 12.59em;
  --top-offset: 8.64vh;
  --fall-duration: 8.007s;
  --fall-delay: 7.053s;
}
.line:nth-child(8) {
  --line-length: 11.46em;
  --top-offset: 184.8vh;
  --fall-duration: 6.671s;
  --fall-delay: 4.325s;
}
.line:nth-child(9) {
  --line-length: 12.11em;
  --top-offset: 109.06vh;
  --fall-duration: 11.529s;
  --fall-delay: 1.994s;
}
.line:nth-child(10) {
  --line-length: 13.2em;
  --top-offset: 108.29vh;
  --fall-duration: 9.696s;
  --fall-delay: 9.024s;
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes fade {
  0%, 50% {
    width: var(--line-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes fade {
  0%, 50% {
    width: var(--line-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.logo, .logo-text {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: drop-shadow(16px 16px 20px #e60000);
}

.logo-text {
  visibility: visible;
}/*# sourceMappingURL=animation.css.map */