.lines {
  position: fixed;
  top: -30%;
  left: 0;
  width: 100%;
  height: 200%;
  transform: rotate(-90deg);
  z-index: 0;
}

.line {
  --line-length: 6em;
  --line-height: 2px;
  --fall-duration: 9s;
  --fade-duration: var(--fall-duration);
  z-index: 0;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--line-length);
  height: var(--line-height);
  color: #e60000;
  background: linear-gradient(45deg, #e60000, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px #e60000);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, fade var(--fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, fade var(--fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .line {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.line:nth-child(1) {
  --line-length: 12em;
  --top-offset: 40.81vh;
  --fall-duration: 7.814s;
  --fall-delay: 3.917s;
}
.line:nth-child(2) {
  --line-length: 10.79em;
  --top-offset: 160.84vh;
  --fall-duration: 10.881s;
  --fall-delay: 3.596s;
}
.line:nth-child(3) {
  --line-length: 13.44em;
  --top-offset: 44.33vh;
  --fall-duration: 7.196s;
  --fall-delay: 8.477s;
}
.line:nth-child(4) {
  --line-length: 11.29em;
  --top-offset: 100.12vh;
  --fall-duration: 9.253s;
  --fall-delay: 3.173s;
}
.line:nth-child(5) {
  --line-length: 11.74em;
  --top-offset: 162.61vh;
  --fall-duration: 11.713s;
  --fall-delay: 2.377s;
}
.line:nth-child(6) {
  --line-length: 12.33em;
  --top-offset: 182.52vh;
  --fall-duration: 7.421s;
  --fall-delay: 4.885s;
}
.line:nth-child(7) {
  --line-length: 12.87em;
  --top-offset: 64.53vh;
  --fall-duration: 8.503s;
  --fall-delay: 9.538s;
}
.line:nth-child(8) {
  --line-length: 11.9em;
  --top-offset: 51.39vh;
  --fall-duration: 8.064s;
  --fall-delay: 1.652s;
}
.line:nth-child(9) {
  --line-length: 11.98em;
  --top-offset: 156.54vh;
  --fall-duration: 9.092s;
  --fall-delay: 5.39s;
}
.line:nth-child(10) {
  --line-length: 14.1em;
  --top-offset: 153.42vh;
  --fall-duration: 6.099s;
  --fall-delay: 1.803s;
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes fade {
  0%, 50% {
    width: var(--line-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes fade {
  0%, 50% {
    width: var(--line-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.logo, .logo-text {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: drop-shadow(16px 16px 20px #e60000);
}

.logo-text {
  visibility: visible;
}/*# sourceMappingURL=animation.css.map */