$purplepine: linear-gradient(to right, #20002c, #cbb4d4);
$mystic: linear-gradient(to right, #757f9a, #d7dde8);
$titanium: linear-gradient(to right, #283048, #859398);

html, body {
    background: $mystic;
}
