$vodafonered: rgba(230, 0, 0, 1);
$option: #320a28;

.box, .largebox{
    position: absolute;
    width: 5em;
    height: 5em;
    cursor: pointer;

    right: 5%;
    bottom: 5%;

    border-radius: 3%;
    transition: all 0.5s;
    user-select: none;
}

.box {
    & .filelist {
        visibility: hidden;
    }
}

.box::before {
    content: "Files";

}

.box:hover, .largebox {
    width: 40em;
    height: 40em;
    
    background-color: white;
    color: white;
    
    & .filelist {
        visibility: visible;
    }
    user-select: none;
}



.filelist {
    width: 50%;
    height: 80%;

    position: absolute;
    top: 5%;
    left: 5%;

    background: transparent;
    
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
}

select {
    z-index: 1;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;

    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;

    background: $vodafonered;

    
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    option {
        color: inherit;
        background-color: $option;
    }

    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
}

