html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

div.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.button-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.form-container {
    width: 50%;
    height: 40%;
    margin: 0 auto;
}